<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
    <title>Yui example</title>
    <link rel="stylesheet" href="https://c.bunnies.cc/src/cappuccino.css">
    <style>
        .input-group {
            padding: 1rem;
            box-sizing: border-box;
        }

        .bcu.btn {
            margin: 0.2rem;
        }

        .bcu.checkbox,
        .bcu.radio,
        .bcu.switch {
            margin: 0.2rem 0.2rem 0.2rem 0.2rem;
        }

        .txt-inline {
            display: inline-block;
            width: 200px;
            margin: 0.2rem 0.2rem 0.2rem 0.2rem;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="input-group">
        <input type="text" class="bcu input" placeholder="default" v-model="msg">
    </div>
    <div class="input-group">Message: {{ msg }}</div>
    <div class="input-group">
        <label class="txt-inline"><input type="text" class="bcu input round cherry" placeholder="a" v-model="a"></label>
        +
        <label class="txt-inline"><input type="text" class="bcu input round purple" placeholder="b" v-model="b"></label>
        =
        <label class="txt-inline"><input type="text" class="bcu input round blue" placeholder="sum" v-model="sum" readonly></label>
    </div>
    <div class="input-group">Calc: {{ a }} + {{ b }} = {{ sum }}</div>
    <div class="input-group">
        <div class="bcu switch pink">
            <input type="checkbox" id="c1" v-model="o">
            <label for="c1">联动</label>
        </div>
        <div class="bcu switch slim orange">
            <input type="checkbox" id="c2" v-model="o">
            <label for="c2">联动</label>
        </div>
        <div class="bcu checkbox round cocoa">
            <input type="checkbox" id="c3" v-model="o">
            <label for="c3">联动</label>
        </div>
        <div class="bcu checkbox rect coffee">
            <input type="checkbox" id="c4" v-model="o">
            <label for="c4">联动</label>
        </div>
        <div class="bcu checkbox mint">
            <input type="checkbox" id="c5" v-model="o">
            <label for="c5">联动</label>
        </div>
    </div>
</div>
<script type="module">
    import Yui from "../src/Yui.js";

    window.a = new Yui({
        el: '#app',
        data: {
            msg: 'Hello World',
            o: false,
            a: 0,
            b: 0,
            sum: 0,
        },
        computed: {
            sum() {
                return (Number.parseFloat(this.a) || 0) + (Number.parseFloat(this.b) || 0);
            }
        }
    });
</script>
</body>
</html>
